#title {
    text-align: center;
    color: azure;
    width: 93%;
    padding: 60px;
    background-color: indigo;
    border-radius: 45px;
    height: 200px;
}
 #nav{
    text-align: center;

 }

 li{
    display: inline;
    padding: 7px;
 }
